.custom_container {
  margin-top: 40px;
  margin-bottom: 30px;
}
.custom_table {
  margin: 0 auto;
  display: block;
  background: #fdfdff;
  width: 750px;

  color: #444444;
  /* box-shadow: 0px 0 6px #ccc; */
}

.inner-table {
  display: block;
  word-break: break-all;
  background: #fffdfd;
  width: 50px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  font-size: 14px;
}
.inner-table tr {
  border: 1px solid rgb(13, 13, 13);
  padding: 0px;
}
.inner-table tr td {
  padding-left: 2px;
  color: #444444;
}
.inner-table tbody tr td {
  padding: 0px;
  color: black;
}
.field-name {
  font-family: calibri, helvetica, arial, sans-serif;
}
.data_info_row {
  background-color: #006cb5;
  color: #fdfdff;
}
.data_info_row td {
  color: white;
  padding: 10px;
}

.top_heading {
  align-items: center;
  text-align: center;
  width: 100%;
  justify-content: center;
  display: flex;
}

.custom_header {
  margin-bottom: 0px;
  color: #006cb5;
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
}

.print-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #006cb5;
  color: white;
  border: none;
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.print-button:hover {
  background-color: #00518b;
}
