/* .sign_content {
  flex-wrap: wrap;
}
.sign_content_all_text {
  display: flex;
  background-color: rgb(68, 141, 144);
  flex-wrap: wrap;
  width: 100vw;
} */
/* .sign_top3 {
  padding: 20px 60px;
  flex-wrap: wrap;
}
.sign_content_all_text {
}
.sign_top4 {
  
}
.frist_last_name {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
input {
  flex-wrap: wrap;
  width: 100%;
}

.paragraph {
  color: black;
  padding-left: 20px;
  flex-wrap: wrap;
}
.showPassword_icon {
  position: absolute;
  margin-left: 200px;
  margin-top: -30px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.create_confirm_pass {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.create_account {
  font-size: 16px;
  background-color: yellow;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 30px;
  border: none;
}

.create_or{
  display: flex;
  justify-content: center;
  background-color: chocolate;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 30px;
  border: none;
}

.create_account_google {
  display: flex;
  justify-content: center;
  background-color: rgb(208, 200, 195);
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 30px;
  border: none;
} */
