.reviewContentAllText {
  max-width: 1100px;
  margin: 0 auto;

  .iconButton-useName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .dateIconFeedback {
      display: flex;
      align-items: center;
      background-color: rgb(25, 240, 240);
      color: black;
      // width: fit-content;
      padding: 5px;
      height: fit-content;
      border-radius: 5px;
    }

    .iconAnduseName {
      padding: 5px;
      display: flex;
      gap: 20px;
      align-items: center;

      .deleteButton {
        font-size: 50px;
        background: none;
        border-radius: 10px;
        border: none;
        padding-bottom: 10px;
        color: rgb(28, 238, 168);
      }
      .feedName {
        font-size: 20px;
        margin-top: 20px;
        border-radius: 5px;
        display: flex;
        background-color: darkgrey;

        padding: 6px;
      }
    }
  }
}
