// .allfeedbacktopcontainer {
//   background-color: rgb(55, 52, 52);

//   display: flex;
//   flex-wrap: wrap;
//    justify-content: center;

//   .review-content {
//     width: 400px;
//     height: 300px;
//     color: white;
//     border: 1px solid ghostwhite;
//     border-radius: 4px;
//     margin: 4px;
//     text-overflow:clip
//   }
// }

.allfeedbacktopcontainer {
  // background-color: rgb(40, 74, 212);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .review-content {
    width: 300px;
    height: 200px;
    color: black;
    border: 1px solid rgb(81, 81, 89);
    border-radius: 4px;
    margin: 4px;
    padding: 5px;

    overflow-y: auto;
    position: relative;
    .feedback-link{
      list-style: none;
      text-decoration: none;
      color: black;
      cursor: pointer;
    }
    .iconButton-date {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 5px;
      align-items: center;
      background-color: rgb(25, 240, 240);
      color: black;
      padding: 5px;
      margin: 5px;
      height: fit-content;
      border-radius: 5px;
      display: flex;


      // background-color: rgb(55, 52, 52);

     
    }
  }

  
}
