.sidebar-container {
  width: auto;
  background-color: rgb(15, 14, 14);
  margin-right: -65px;
  position: relative;
}

.ul-sidebar {
  list-style: none;
}
.ul-sidebar li a {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 10px;
 
  list-style: none;
  text-decoration: none;
  color: white;
  padding-bottom: 14px;
}
