.heading {
  text-align: center;
  color: rgb(114, 147, 147);
  text-shadow: 0 0 3px #ff0000, 1px 0 5px #0000ff;
  font-size: 25px;
}
.teacher_verify {
  width: 100%;
  /* overflow-x: auto; */
 border-radius: 1px;
 border-style: groove;

}

.teacher_verify_th th {
  background-color: rgba(81, 176, 40, 0.839);
  width: 100vw;
  border-color: #000814;
  font-size: 1rem;
}
.icon_show {
  font-size: 25px;
  margin: 15px;
  width: 100%;
  text-align: center;
}

.text_data_td {
  padding: 2px;
  font-size: 1rem;
  
  
}
.text_data_td td{
  background-color: rgb(30, 49, 49);
  color: rgb(144, 142, 109);
}
.button{
  width: 100%;
  display: flex;
  justify-content: center;
}
.button button{
  background-color: rgb(30, 49, 49);
 
}
.teacher_verify {
  width: 100%;
  overflow-x: auto;
}

.alljobdata {
  background-color: #000814;
}
.icon_click_after_show {
  display: flex;
  position: absolute;
  top: 60%;
  right: 0rem;
  z-index: 3;
}
.icon_click_after_show button {
  background-color: aquamarine;
  padding: 5px;
  width: 70px;
  border-radius: 10px;
  border-color: darkgray;
  gap: 4px;
}

.editButton_click_after {
  position: absolute;
  top: 60%;
  right: 0rem;
  z-index: 3;
}

.editButton_click_after button {
  background-color: aquamarine;
  padding: 5px;
  width: 70px;
  border-radius: 10px;
  border-color: darkgray;
  gap: 4px;
}

@media print {
  body {
    font-size: 14pt;
  }

  .name {
    top: 51%;
    font-size: 15px;
  }
  .membershipNumber {
    right: 7%;
    font-size: 8px;
  }
  header,
  footer {
    display: none;
  }
}
