  html, body{
    overflow-x: hidden;
    overscroll-behavior: auto;
    background-color: #000814;
    z-index: -70;
}


/* // google fonts */
/* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap"); */



/* // google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

/*** Common variables ***/



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}



a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  outline: 0;
  cursor: pointer;
}

ul {
  list-style-type: none;
}


.content-wrapper {
  background-color: var(--background-color);
  min-height: 100vh;
  padding: 50px 58px;
  margin-left: 260px;

  @media (max-width: 1400px) {
    padding: 32px;
  }

  @media (max-width: 1200px) {
    margin-left: 56px;
  }

  @media (max-width: 768px) {
    margin-left: 0;
    padding: 24px;
  }

  @media (max-width: 576px) {
    margin-left: 0;
    padding: 16px;
  }
}


.content-area {
  & > section {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}